# Please enter appropriate values and rename to 'magellan.cfg'
[Server Config]
server = ServerName
user = UserName
password = Password
db = DatabaseName

[Analysis]
travelspeed = 13.5     # threshold for something to be considered "traveling"
                        # given in m/s
